@use "../../../../colors";

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_products_container {
    width: 100%;
    max-width: 451px;

    margin: auto;

    .result_type_selector {
        @include flex();

        p {
            width: 50%;

            padding: 8px 0;
            color: colors.$mid_1;
            border-bottom: 1px solid colors.$light_1;

            font-size: 1.2em;

            text-align: center;

            cursor: pointer;
        }

        p.selected {
            color: colors.$group1_color_2;
            border-bottom: 3px solid colors.$group1_color_2;
            font-weight: 700;
        }

        margin: 0.8rem 0 1.2rem 0;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 1rem;
        padding: 0.5rem;
        max-width: 100%;
        overflow: visible;
    }
}

.users_results {
    @include flex();
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;

    .user_result {
        @include flex();
        justify-content: flex-start;
        align-items: flex-start;

        gap: 1rem;

        width: 100%;
        max-width: 400px;

        text-decoration: none;
        color: #262626;

        .user_img {
            width: 78px;
            height: 78px;

            border-radius: 50%;
            overflow: hidden;

            img {
                object-fit: cover;
            }
        }

        .user_data {
            h2 {
                font-size: 1.12em;

                text-transform: capitalize;
            }

            .user_rating {
                @include flex();
                justify-content: flex-start;
                color: colors.$light_1;

                gap: 0.3rem;

                p {
                    font-size: 0.8em;
                    font-weight: 600;
                }
            }
        }
    }
}

.noresult {
    text-align: center;
    color: scale-color($color: colors.$mid_1, $alpha: -60%);

    font-weight: bold;
    font-size: 1.05em;
}