@use "../colors";

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    margin: auto;

    position: fixed;
    background-color: #f2f2f2;

    .header_content {
        text-transform: capitalize;
        @include flex();

        gap: 1rem;
    
        width: 100vw;
        margin: auto;
        margin-top: 0.5rem;
    
        h1 {
            text-align: center;
            font-size: 1.563em;
    
            color: #262626
        }
    
        .user_img {
            object-fit: contain;
            border-radius: 50%;
        }
    }
}

.line {
    width: 100%;
    max-width: 100% !important;

    margin-bottom: 0 !important;
}

body {
    background-color: #2A9F6206;
}

main {
    width: 100%;

    min-height: 76vh;
    padding-top: 5rem;
    
    .messages_container {
        max-width: 430px;
        width: 100%;

        margin: auto;
        margin-bottom: 3rem;

        padding: 25px;

        .message {
            width: fit-content;
            max-width: 300px;

            padding: 15px;

            margin-top: 0.3rem;

            .msg_data {
                margin-top: 0.5rem;

                p {
                    font-size: 0.75em;
                }
            }
        }

        .msg_non_author {
            background-color: rgba(175, 175, 175, 0.28);
            color: #262626;

            margin-right: auto;
            border-radius: 10px 10px 10px 0px;
        }

        .msg_author {
            background-color: colors.$group1_color_2;
            color: white;
            
            margin-left: auto;
            border-radius: 10px 10px 0px 10px;

            .msg_data {
                p {
                    width: fit-content;
                    max-width: 100%;
                    margin-left: auto;
                }
            }
        }
    }

    .message_bar {
        position: fixed;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;

        width: 100vw;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);

        background-color: #f2f2f2;

        padding: 20px;

        .bar_items {
            display: flex;
        
            justify-content: center;
            align-items: center;
            gap: 1rem;

            width: 100%;

            .message_input {
                display: block;
    
                width: 100%;
                max-width: 336px;
        
                padding: 13px;
        
                border-radius: 40.633px;
                background-color: rgb(213, 212, 212);
                color: colors.$mid_1;
            }
    
            .send_message {
                display: flex;
                justify-content: center;
                align-items: center;
    
                padding: 5.65px;
                border-radius: 50%;
    
                background-color: #00927C;
                border: none;
    
                img {
                    object-fit: contain;
                }

                cursor: pointer;
            }
        }
    }
}