@use "../../../colors";

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    margin: auto;

    margin-top: 2rem;

    h1 {
        text-align: center;
        font-size: 1.563em;

        color: #262626
    }
}

main {
    width: 100%;
    max-width: 430px;
    margin: 2rem auto 0 auto;
    position: relative;
}

.add_product_button {
    position: fixed;
    display: block;

    width: fit-content;
    max-width: calc(430px - 3rem);
    padding: 15px 10px;

    border: none;
    border-radius: 8px;
    text-decoration: none;

    right: 1.5rem;
    bottom: 85px;

    background-color: colors.$group1_color_2;
    color: colors.$lightest;

    font-size: 1.1em;
    font-weight: 600;
}

@media (min-width: 430px) {
    .add_product_button {
        left: 50%;
        right: auto;
        transform: translateX(calc(-50% + 430px/2 - 1.5rem));
        max-width: calc(430px - 3rem);
    }
}

.line {
    width: 100%;
    max-width: 430px !important;
}